
.btn-flex-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}

.game-btn {
    margin-bottom: 20px;
    background-color: #ff4200;
    color: white;
}

.game-settings {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    color: white;
    background-color: #ff4200;
    /*margin: 0 auto;
    width: 100px;*/
}

.game-settings > div {
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 0.8em;
    flex-wrap: wrap;
}

.main-div-game-settings{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}

.main-div-game-settings button{
    margin-top: 10px;
    margin-bottom: 10px;
}

.main-div-game-settings h4 {
    color: black;
    text-align: center;
}

.alkali-metal {
    background-color: #ff4200;
}

.alkaline-earth-metal {
    background-color: #FF7444;
}

.lanthanide {
    background-color: #FF4100;
}

.actinide {
    background-color: #C63300;
}

.transition-metal {
    background-color: #9B2800;
}

.post-transition-metal {
    background-color: #5FCA96;
}

.metalloid {
    background-color: #31B877;
}

.diatomic-nonmetal {
    background-color: #00B25C;
}

.noble-gas {
    background-color: #008A47;
}

.polyatomic-nonmetal {
    background-color: #554400;
}

.unknown-probably-transition-metal {
    background-color: #006C38;
}

.unknown-probably-metalloid {
    background-color: #ff9900;
}

.unknown-probably-post-transition-metal {
    background-color: #fd7c6e;
}

.unknown-predicted-to-be-noble-gas {
    background-color: #81007f;
}

/*game styles*/
body.successfulAttempt {
    animation-name: successfulAttempt;
    animation-duration: 0.2s;
    animation-timing-function: linear;
    animation-iteration-count: 3;
}

body.unsuccessfulAttempt {
    animation-name: unsuccessfulAttempt;
    animation-duration: 0.2s;
    animation-timing-function: linear;
    animation-iteration-count: 3;
}

@keyframes successfulAttempt {
    0%{
        background-color: white;
    }
    50%{
        background-color: green;
    }
    100%{
        background-color: white;
    }
}


@keyframes unsuccessfulAttempt {
    0%{
        background-color: white;
    }
    50%{
        background-color: red;
    }
    100%{
        background-color: white;
    }
}