@font-face {
    font-family: 'montserratlight';
    src: url("../fonts/montserrat-light-webfont.woff") format('woff');
    src: url("../fonts/montserrat-light-webfont.woff2") format('woff2');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'montserratlight', sans-serif;
    color: white;
    font-weight: bold;
}

.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border-style: solid;
    border-color: #006C38;
}

.flex-container > div {
    visibility: hidden;
    width: 50px;
    height: 60px;
    margin: 2px;
    text-align: left;
    font-size: 0.7em;
    font-weight: bold;
}

.flex-container p {
    text-align: center;
}

.chemical-element span {
    font-size: 0.8em;
}

.period-container {
    margin-bottom: 30px;
    text-align: center;
}


.chemical-element-small {
    border: 1px solid;
    padding-top: 5px;
    width: 80px;
    text-align: center;
    font-size: 0.8em;
    font-weight: bold;
    background-color: #776D04;
}

.period-heading{
    color:black;
    margin-left: 5px;
}

.game-btn{
    width: 250px;
}

.game-settings{
    width:250px;
}

